<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>ImageLightbox</name>
    <guid>c9141526-1cff-4825-827f-a44615d33567</guid>
    <version>2.0.1</version>
    <date>2016-06-07</date>
    <description><![CDATA[Image Lightbox]]></description>
    <company>Askia</company>
    <author><![CDATA[Jérôme Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="true" single="true" multiple="true" numeric="true" date="true" open="true" requireParentLoop="false" />
      <constraint on="controls" responseblock="false" label="true" textbox="false" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Default output]]></description>
      <condition><![CDATA[Browser.Support("javascript")]]></condition>
      <content fileName="imageLightbox.css" type="css" mode="static" position="head" />
      <content fileName="styles.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="simplbox.js" type="javascript" mode="static" position="foot" />
      <content fileName="imageLightbox.js" type="javascript" mode="static" position="foot" />
      <content fileName="Initializer.js" type="javascript" mode="dynamic" position="foot" />
    </output>
    <output id="fallback">
      <description><![CDATA[fallback]]></description>
      <condition><![CDATA[Not(Browser.Support("javascript"))]]></condition>
      <content fileName="imageLightbox.css" type="css" mode="static" position="head" />
      <content fileName="styles.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
  </outputs>
  <properties>
    <category id="General" name="General">
      <property xsi:type="standardProperty" id="path" name="Path of the image" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Path of the image]]></description>
        <value><![CDATA[??ResPath??image.png]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlWidth" name="Control Max Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The max width of the control]]></description>
        <value><![CDATA[250px]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
  </properties>
</control>